@import "~styles/config";

.dropdown {
  position: relative;

  //button
  .dropdown__button {
    & svg {
      @include icon;
    }
  }
  .dropdown__inner {
    position: absolute;
    right: 0;
    min-width: 20rem;
    @include card;
    transition: $dropdown;
    transform-origin: 100% 0%;
    margin-top: 1rem;
    padding: 1rem 0;
    transform: scale(1);
    opacity: 1;
    background: $background-color;
    &.hide {
      opacity: 0;
      visibility: hidden;
      margin: 0;
      transform: scale(0);
    }
    //item
    & .dropdown__item {
      font-size: $font-size-s;
      font-weight: 400;
      padding: 1rem 1.5rem;
      color: $grey;
      width: 100%;
      text-align: left;
      @include inline-flex($justify-content: space-between);
      transition: $fade;
      &:hover {
        color: $primary;
        & .icon svg * {
          fill: $primary;
        }
      }
      //icon
      & .icon {
        & svg {
          @include icon($icon-color: $grey);
        }
      }
    }
    //hr
    & hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-bottom: $border;
      width: 100%;
    }
  }
}
