@import "~styles/config";

.hero {
  padding-top: $hero-padding;
  & p {
    max-width: $max-600;
  }
}

//user
.hero__user {
  text-align: center;
  & .icon {
    width: calc(200px + (250 - 200) * ((100vw - 375px) / (1500 - 375)));
    height: calc(200px + (250 - 200) * ((100vw - 375px) / (1500 - 375)));
    overflow: hidden;
    border-radius: $circle;
    border: $border;
    margin: auto;
  }
  & .name {
    font-size: $font-size;
    color: $title;
    font-weight: 500;
    margin: 1rem 0;
  }
  & .button__container {
    padding: $gutter 0;
    margin-bottom: $gutter * 2;
  }
}
