//Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
  font-weight: 300;
  font-family: $sans;
  color: $title;
  width: 100%;
  max-width: $desktop_large;
  letter-spacing: -0.01em;
  font-feature-settings: "kern";
}

h1,
h1 *,
h2,
h2 * {
  margin: 0 auto 1rem;
}

h3,
h3 * {
  margin: 0 auto 1rem;
}

h1 {
  font-size: calc(35px + (65 - 35) * ((100vw - 375px) / (1500 - 375)));
  line-height: 1.35;
  color: $primary;
}

h2 {
  font-size: calc(25px + (30 - 25) * ((100vw - 375px) / (1500 - 375)));
  line-height: 1.5;
}

h3,
h4,
h5 {
  font-size: calc(20px + (25 - 20) * ((100vw - 375px) / (1500 - 375)));
  line-height: 1.7;
}

h6 {
  font-weight: 500;
}
