@mixin grid-row(
  $direction: ltr,
  $align: stretch,
  $justify: flex-start,
  $grid-gutter: $gutter,
  $wrap: wrap
) {
  display: flex;
  flex-wrap: $wrap;
  align-items: $align;
  justify-content: $justify;
  margin-left: -($grid-gutter/2);
  margin-right: -($grid-gutter/2);

  @if $direction == ltr {
    flex-direction: row;
  } @else {
    flex-direction: row-reverse;
  }
}

@mixin grid-col($col: 1fr) {
  display: grid;
  grid-template-columns: $col;
  grid-column-gap: $container-gutter;
  grid-row-gap: $container-gutter;
}

@mixin grid-offset-left($offset: 1) {
  margin-left: convertify($offset);
}

@mixin grid-offset-right($offset: 1) {
  margin-right: convertify($offset);
}
