@import "~styles/config";

.breadcrumb {
  @include inline-flex;
  font-size: $font-size-s;
  margin-bottom: $gutter * 2;
  & .breadcrumb__link {
    color: $primary;
    @include inline-flex;
    &:after {
      content: ">";
      margin: 0 1rem;
      color: $paragraph;
    }
    & a {
      @include hover-line;
    }
  }
}
