@import "~styles/config";

.breadcrumb {
  @include inline-flex;
  font-size: $font-size-s;
  margin-bottom: $gutter * 2;
  & .breadcrumb__link {
    color: $primary;
    @include inline-flex;
    &:after {
      content: ">";
      margin-left: 2rem;
      color: $paragraph;
    }
    & a {
      @include hover-line;
    }
  }
  & .breadcrumb__current,
  .breadcrumb__link {
    padding: 1rem;
    &:first-of-type {
      padding-left: 0;
    }
  }
}
