@import "~styles/config";

:global {
  @import "~styles/base";
}

.layout {
  display: block;
  min-height: 100vh;
}

//Icons
.header-ico {
  & svg {
    width: auto;
    height: 1.8rem;
  }
}
.copylight {
  margin: 0 auto;
  padding: 0 5rem;
  position: fixed;
  bottom: 3rem;
  left: 0;
  width: 100%;
  z-index: 9900;
  text-align: center;
  & h6 {
    font-size: $font-size-s;
    color: $grey;
  }
}

//text
.text__layout {
  max-width: $max-1024;
  & p {
    margin-bottom: 1.3em;
  }
  & a {
    color: $primary;
    @include line-hover;
    white-space: nowrap;
  }
  & blockquote {
    background-color: $white;
    @include card;
    padding: $gutter;
  }
}
