@import "~styles/config";

.link,
.link__button,
.container {
  @include inline-flex;
  padding-left: $gutter * 2;
  cursor: pointer;
  &:first-child {
    padding-left: 0;
  }
  &:hover * {
    fill: $primary;
  }
  & * {
    transition: $fade;
  }

  &__icon {
    position: relative;
    width: auto;
    height: 1.8rem;

    & * {
      fill: $primary;
    }
  }

  &.desktop__content {
    @media (max-width: $tablet) {
      display: none;
    }
  }

  &.mobile__content {
    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.link {
  @include hover-line;
}
