@import "~styles/config";

#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9900;
  padding: 2rem $container-gutter;
  background: $background-color;
  will-change: transform;
  transition: var(--scroll);
  border-bottom: $border;
  @include inline-flex($justify-content: space-between);

  //Container
  & .header__container {
    display: inline-flex;
  }

  //Logo
  & .header__logo {
    @include inline-flex;

    svg {
      height: $logo-size;
      width: auto;
    }
  }

  a.logo__link.desktop-content {
    position: relative;
    padding-left: 0;

    &:hover {
      text-decoration: none;
    }
  }
  //navigation
  & .header__navigation {
    @include inline-flex;
  }
}
