@import "~styles/config";

.link,
.link__button {
  display: inline-flex;
  padding-left: 1.5rem;
  text-decoration: none;
  transition: 200ms opacity ease-in-out;
  text-transform: capitalize;
  font-weight: 500;

  &:first-child {
    padding-left: 0;
  }

  &__icon {
    position: relative;
    width: auto;
    height: 1.8rem;

    & * {
      fill: $primary;
    }
  }

  &.desktop__content {
    @media (max-width: $tablet) {
      display: none;
    }
  }

  &.mobile__content {
    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.link {
  @include hover-line;
}
