@import "~styles/config";

.map__search {
  position: fixed;
  background-color: $white;
  z-index: 9000;
  box-shadow: $shadow;
  @include card($border-radius: $circle);

  @media (min-width: $tablet) {
    left: $container-gutter;
    bottom: $container-gutter;
  }
  @media (max-width: $tablet) {
    top: calc(71px + #{$gutter});
    left: $container-gutter;
    right: $container-gutter;
  }
  & .container {
    @include inline-flex;
    width: 100%;
    padding-right: $gutter;
  }
  & .icon {
    @include inline-flex;
    padding: 0 $gutter;
    & svg {
      @include icon($icon-color: $primary);
    }
  }
  & input {
    @include search;
  }
}
