@import "~styles/config";

$marker-size: 10rem;

.map__container {
  background: $horizontalRule;
}

.marker {
  width: 2rem;
  height: auto;
  position: absolute;
  top: -3rem;
  left: -1rem;

  & .icon {
    width: auto;
    height: 3rem;
    cursor: pointer;
  }
  & .title {
    color: $primary;
    font-size: $font-size-s;
  }
  & .text {
  }
  //dropdown

  & .dropdown__inner {
    position: absolute;
    right: 0;
    min-width: 20rem;
    @include card;
    transition: $dropdown;
    transform-origin: 100% 0%;
    margin-top: 1rem;
    padding: $gutter;
    transform: scale(1);
    opacity: 1;
    background: $background-color;
    z-index: 9900;
    &.hide {
      opacity: 0;
      visibility: hidden;
      margin: 0;
      transform: scale(0);
    }
    //item
    & .dropdown__item {
      font-size: $font-size-s;
      font-weight: 400;
      padding: 1rem 1.5rem;
      color: $grey;
      width: 100%;
      text-align: left;
      @include inline-flex($justify-content: space-between);
      transition: $fade;
      &:hover {
        color: $primary;
        & .icon svg * {
          fill: $primary;
        }
      }
      //icon
      & .icon {
        & svg {
          @include icon($icon-color: $grey);
        }
      }
    }
    //hr
    & hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-bottom: $border;
      width: 100%;
    }
  }
  //bg
  & .dropdown__bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 8000;
    transform: translate(0, -6rem);
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    cursor: auto;
    background-color: transparent;
    &.hide {
      display: none;
    }
  }
}

.current__marker {
  height: $marker-size;
  width: $marker-size;
  position: absolute;
  left: -$marker-size/2;
  top: -$marker-size/2;
  & .pin__container {
    width: $marker-size;
    height: $marker-size;
    @include inline-flex;
  }

  & .pin {
    width: 1.5rem;
    height: 1.5rem;
    background: $primary;
    border: 2px solid $white;
    border-radius: 50%;
    z-index: 1000;
    box-shadow: $shadow;
  }

  & .pin__effect {
    width: $marker-size;
    height: $marker-size;
    position: absolute;
    top: 0;
    display: block;
    background: rgba(255, 0, 97, 0.2);
    border-radius: 50%;
    opacity: 0;
    animation: pulsate 2400ms ease-out infinite;
  }
}
