@import "~styles/config";

.mobile__nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  height: $height-nav;
  box-shadow: $shadow;
  background-color: $background-color;
  @media (min-width: $tablet) {
    display: none;
  }
  & .inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    height: 100%;
  }
  //button
  &.mobile__nav__button {
    height: auto;
    & .inner {
      padding: 1rem 0;
    }
  }

  //item
  & .item {
    @include inline-flex;
    & .icon svg {
      @include icon($icon-size: $icon-size-nav, $icon-color: $horizontalRule);
    }
    &.active {
      & .icon svg {
        @include icon($icon-size: $icon-size-nav, $icon-color: $primary);
      }
    }
  }
}

//button
.nav__button__container {
  position: fixed;
  right: $container-gutter;
  bottom: $container-gutter;
  @media (max-width: $tablet) {
    bottom: calc(#{$height-nav} + #{$gutter});
  }
}

.nav__button {
  overflow: hidden;
  border-radius: $circle;
  box-shadow: $shadow;
  background-color: $white;
  padding: 1.5rem;
  margin: 0 1rem;
  @include inline-flex;
  transition: $fade;
  & svg {
    @include icon($icon-size: $icon-size-button);
  }

  &:last-of-type {
    margin-right: 0;
  }
  &:hover {
    box-shadow: $shadow-hover;
  }
  @media (max-width: $tablet) {
    display: none;
  }
}

.nav__button__primary {
  @extend .nav__button;
  box-shadow: $shadow-primary;
  background-color: $primary;
  & svg {
    @include icon($icon-size: $icon-size-button, $icon-color: $white);
  }
  &:hover {
    box-shadow: $shadow-primary-hover;
  }
  @media (max-width: $tablet) {
    display: inline-flex;
  }
}
